* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar { 
    width:0px;
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/Pacifico.ttf);
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    background:#eee;
}

.ui-overlay-a {
    background:#eee !important;
}

.ui-page{
    background:#eee !important;
    min-height:100%;
}

.ui-panel-wrapper {
    background:#eee !important;
    overflow:visible;
    min-height:inherit;
}

.ui-panel {
    width:272px !important; 
    background:#ffc107 !important; 
}

#panel h3 {
    padding:20px;
}

#panel li {
    color:rgba(0,0,0,.5) !important;
    text-shadow:none;
    padding-top:0; padding-bottom:0; background:none;
}

#panel li:first-child {
    margin-top:1em; margin-bottom:1em;
}

#panel li>a {
    background:url(../img/icon.svg) rgba(0,0,0,0) no-repeat 1em 50% / 1.5em 1.5em !important; 
    padding-left:3em;
    opacity:.75;
    color:rgba(0,0,0,.67) !important;
}

#panel li>a:hover, #panel li>a:active {
    opacity:1 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    color:#eee !important;
}

table {
    width:100%;
}

td:last-child {
    text-align:right;
}

.ui-panel-inner {
    padding:0;
    background:#ccc;
    top:0 !important;
    box-shadow: inset -5px 0px 5px 0px rgba(0,0,0,0.1);
}

#page1 h1 {
    font-family:pacifico;
}

.ui-content {
    padding:0;
    overflow:visible;
    min-height:inherit
}

.ui-listview {
    padding:1em 0;
}

.ui-flipswitch {
    transition:all 0.2s !important;
    opacity:.75;
}

.ui-btn-raised {
    margin:1em 0;
}

.ph {
    overflow:hidden;
}

.item {
    background:#fff;
    margin:.5em !important;
    border-radius:2px !important;
    box-shadow:0 1px 2px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1) !important;
}

.item img {
    left:0 !important; margin:.5em !important;
}

.item .zmdi-network-wifi-alt {
    background:#009688;color:#fff;position:absolute;left:0;bottom:0;padding:5px 2px; border-top-right-radius:4px;
}

.item.nsd a:active {
    background:#009688; color:#fff;
}

.item .zmdi-bluetooth {
    background:#2196F3;color:#fff;position:absolute;left:0;bottom:0;padding:5px 2px; border-top-right-radius:4px;
}

.item.ble a:active {
    background:#2196F3; color:#fff;
}

.other a {
    padding-left:2.25em;
}

.other i {
    padding:1.05em 5px !important; font-weight:normal; font-size:14px; border-radius:0 !important;
}

.browse-ble .nsd {
    display:none !important;
}

.browse-nsd .ble {
    display:none !important;
}

#count {
    border-radius:2em; 
    padding:0; 
    width:28px; 
    height:28px; 
    top:5px; 
    line-height:29px;
    font-weight:100 ;
}

.ui-icon-app:after {
    background-image:url("../img/cordova.svg");
    background-size:18px 18px;
}

.ui-icon-info {
    background:#4cf !important;
    color:#aaa !important;
    border-radius:0 !important;
}

.ui-icon-info:active {
    background:#39b !important;
}

h3 {
    font-weight:200 ;
    margin:0 ;
    overflow:visible;
}

.ui-page>.ui-header>*, .ui-panel h3{
    margin-top:-5px;
    margin-bottom:-5px;
}

.ph .ui-input-search, .ph input {
    margin:0;
    padding:0;
    background:transparent;
    color:#fff;
    font-size:inherit;
    text-shadow:none;
    line-height: inherit;
    border:none;
    outline:none;
    -webkit-user-select: text; 
    user-select: text;
    width:100%;
}

.ph input::-webkit-input-placeholder {
  color: #fff;
  font-family:pacifico;
}

.ph input:focus::-webkit-input-placeholder {
  color: rgba(255,255,255,.6);
  font-family:inherit;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    background-color:rgba(0,0,0,0);
    left:17em;
}

.ui-input-text {
    margin-top:0 ; 
    -webkit-box-shadow:none ; 
    box-shadow:none ;
}

#name {
    text-align:center; font-weight:normal;
}

#dialog {
    width:100%;
}

#dh > img {
    -webkit-filter:drop-shadow(0 0 2px rgba(0,0,0,0.2));
    border-radius: 0 !important;
    top:.12em;
}

#dh > * {
    line-height: 1.3em;
}

#dm {
    word-wrap: break-word;
    padding:0 1em .5em 1em;
}

#dm #url, #dm #ui, #dm .dtype, #dm #dev a, #dm .ui-btn {
    font-size:12px;
}

#dm #dev a {
    margin:.25em 0; padding:.5em; background:#eee; white-space: nowrap; overflow: hidden;
}

#dm #dev a:active, #dm #dev .dtype:active {
    background:#ccc;
}

#dm #dev li {
    position:relative; border-radius:3px; overflow:hidden;
}

#dm #dev .dtype {
    position:absolute; right:0; top:.25em; text-align:right; padding:.5em; background:#ddd; border-radius:0 3px 3px 0;
}


#lm {
    word-wrap: break-word;
    padding:1em;
    text-align: center;
}

#lm .ui-slider-handle, #lm input {
    display:none;
}

#lm .ui-slider-track {
    pointer-events: none;
    margin:0 15px !important;
}

#lm .ui-slider-bg, #ui-slider-track * {
    transition:all 1s !important;
    margin:0 !important; padding:0 !important;
}

#content {
    background:#eee;
    overflow-y:visible;
    min-height:inherit; 
    padding:0 1em;
}

.wow {
   visibility:hidden;
}

#page2 .ui-title, #page3 .ui-title {white-space:normal; line-height:1em; padding:.5em 0;}
#page2 .nameplate, #page3 .nameplate {white-space:nowrap; line-height:10px;}
#page2 .id, #page3 .id {white-space:nowrap; font-size:10px;}
#page2 .ui-li-static{font-size:14px; width:100%; padding-left:2em !important; padding-right:2em !important;}
#page2 .ui-li-divider {width:100%; padding-left:1.5em !important; padding-right:1.5em !important}
#page2 .write i, #page2 .writewithoutresponse i {opacity:1 !important;}
#page2 .value{font-size:12px;color:#888;}
.zmdi-replay  {transform:scale(-1,1);}
.zmdi-refresh {pointer-events:none;}