* {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

.ui-page{
    background:#eee !important;
    min-height:100%;
}

.ui-panel-wrapper {
    background:#eee !important;
    overflow:visible;
    min-height:inherit;
}

.ui-panel {
    width:272px !important; 
    color:#888
}

.ui-panel h3 {
    padding:20px;
}

.ui-content {
    padding:0;
    overflow:visible;
    min-height:inherit
}

.ui-listview {
    padding:1em 0;
}

.ui-flipswitch {
    transition:all 0.2s !important;
}

.ui-btn-raised {
    margin:1em 0;
}

.item {
    background:#fff;
    margin:.5em !important;
    border-radius:2px !important;
    box-shadow:0 2px 1px rgba(0,0,0,0.1), 0 0 2px rgba(0,0,0,0.1) !important;
}

.item img {
    left:0 !important;
    margin:.5em !important;
}

#panel li {
    padding:0 1em;
}

table {
    width:100%;
}

td:last-child {
    text-align:right;
}

.ui-panel-inner {
    padding:0;
}

#count {
    border-radius:2em; 
    padding:0; 
    width:28px; 
    height:28px; 
    top:5px; 
    line-height:29px;
    font-weight:100 ;
}

.ui-icon-app:after {
    background-image:url("../img/cordova.svg");
    background-size:18px 18px;
}

.ui-icon-info {
    background:#4cf !important;
    color:#aaa !important;
    border-radius:0 !important;
}

h3 {
    font-weight:200 ;
    margin:0 ;
    overflow:visible;
}

.ios>.ui-page>.ui-header>*{
    margin-top:10px;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    background-color:rgba(0,0,0,0);
    left:17em;
}

.ui-input-text {
    margin-top:0 ; 
    -webkit-box-shadow:none ; 
    box-shadow:none ;
}

#name {
    text-align:center; font-weight:normal;
}

#dh > img {
    -webkit-filter:drop-shadow(0 0 2px rgba(0,0,0,0.2));
    border-radius: 0 !important;
}

#dm {
    word-wrap: break-word;
    padding:0 1em .5em 1em;
}

#lm {
    word-wrap: break-word;
    padding:1em 1em .5em 1em;
    text-align: center;
}

#lm .ui-slider-handle, #lm input {
    display:none;
}

#lm .ui-slider-track {
    margin: 0 15px;
    pointer-events: none;
}

#lm .ui-slider-bg {
    transition:width 1s;
}

#ptr {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color:#ccc;
    z-index:-10;
    text-align:center;
    height:50px;
}

#ptr .zmdi {
    opacity:.6;
    font-size:34px;
    width:auto;
    height:auto;
    transition:all .25s ease;
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    margin-top:5px;
}
.ptr-refresh #ptr .zmdi {
    -webkit-transform:rotate(270deg);
    transform:rotate(270deg);
}
.ptr-loading #ptr .zmdi,
.ptr-reset #ptr .zmdi {
    display:none;
}

.loading {
    display:inline-block;
    text-align:center;
    opacity:.4;
    margin:12px 0 0 5px;
    display:none;
}
.ptr-loading .loading {
    display:block;
}

#content {
    background:#eee;
    overflow-y:visible;
    min-height:inherit; 
    padding:0 1em;
}

.ptr-loading #content, .ptr-reset #content,
.ptr-loading #ptr, .ptr-reset #ptr {
    transition:all .25s ease;
}

.ptr-reset #content {
    -webkit-transform:translate3d( 0, 0, 0 );
    transform:translate3d( 0, 0, 0 );
}

.ptr-loading #content {
    -webkit-transform:translate3d( 0, 50px, 0 );
    transform:translate3d( 0, 50px, 0 );
}

.wow {
   visibility:hidden;
}