/*
 Xpull - pull to refresh jQuery plugin for iOS and Android
 by Slobodan Jovanovic
 Initially made for Spreya app spreya.com
*/
.pull-indicator{
    width:25px;
    height:41px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    margin-top:0px;
        
    position:relative;
    top:-41px;
    transition: transform .3s;

}
.triangle-down { 
    width: 0; height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 12px solid #CACACA; 
    border-radius: 6px;
    margin-left:auto;
    margin-right:auto;
}
.arrow-body{
    width:4px;
    height:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-3px;
    background-color:#CACACA;
    border-radius:3px;
}
.arrow-rotate-180{
    transform: rotate(-180deg) !important;
}
.pull-spinner {
    display:none;
    height:25px;
    width:25px;
    margin:0px auto;
    position:relative;
    left:-4px;
    animation: rotation .6s infinite linear;
    border-left:4px solid rgba(202,202,202,.15);
    border-right:4px solid rgba(202,202,202,.15);
    border-bottom:4px solid rgba(202,202,202,.15);
    border-top:4px solid rgba(202,202,202,.9);
    border-radius:100%;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}