<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.umich.eecs.lab11.summon" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Summon</name>
    <description>
        The user interface medium for the Internet of Things.
    </description>
    <author email="tzachari@umich.edu" href="http://lab11.eecs.umich.edu">
        Lab11
    </author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-targetSdkVersion" value="17" />
    <preference name="SplashScreenDelay" value="0" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="res/icon-android.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon src="res/icon-ios.png" />
        <splash src="res/splash.png" width="320" height="480"/>
        <splash src="res/splash.png" width="640" height="960"/>
        <splash src="res/splash.png" width="768" height="1024"/>
        <splash src="res/splash.png" width="1536" height="2048"/>
        <splash src="res/splash.png" width="1024" height="768"/>
        <splash src="res/splash.png" width="2048" height="1536"/>
        <splash src="res/splash.png" width="640" height="1136"/>
        <splash src="res/splash.png" width="750" height="1334"/>
        <splash src="res/splash.png" width="1242" height="2208"/>
        <splash src="res/splash.png" width="2208" height="1242"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="com.triggertrap.ZeroConf" spec="https://github.com/vstirbu/ZeroConf" />
    <plugin name="cordova-plugin-console" spec="^1.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-chrome-apps-sockets-udp" spec="^1.2.2" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-battery-status" spec="^1.0.0" />
    <plugin name="cordova-plugin-device-motion" spec="^1.1.0" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.0" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="cordova-plugin-media" spec="^1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.1.0" />
    <plugin name="cordova-plugin-camera" spec="^1.1.0" />
    <plugin name="cordova-plugin-contacts" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="^1.0.0" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.0" />
    <plugin name="cordova-plugin-test-framework" spec="^1.0.0" />
    <plugin name="cordova-plugin-vibration" spec="^1.1.0" />
    <plugin name="com.randdusing.bluetoothle" spec="https://github.com/randdusing/BluetoothLE" />
    <plugin name="cordova-plugin-zip" spec="^3.0.0" />
    <plugin name="cordova-plugin-ble-central" spec="^1.0.1" />
</widget>
