<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.umich.eecs.lab11.summon" version="0.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Summon</name>
    <description>
        The Browser for the Local Web of Things.
    </description>
    <author email="tzachari@umich.edu" href="http://lab11.eecs.umich.edu">
        Lab11
    </author>
    <content src="index.html" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#F2A507" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="19" />
        <preference name="loadUrlTimeoutValue" value="10000" />
        <icon src="res/icon-android.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <icon height="29" src="res/icon29.png" width="29" />
        <icon height="58" src="res/icon58.png" width="58" />
        <icon height="87" src="res/icon87.png" width="87" />
        <icon height="40" src="res/icon40.png" width="40" />
        <icon height="80" src="res/icon80.png" width="80" />
        <icon height="120" src="res/icon120.png" width="120" />
        <icon height="180" src="res/icon180.png" width="180" />
        <icon height="76" src="res/icon76.png" width="76" />
        <icon height="152" src="res/icon152.png" width="152" />
        <icon height="167" src="res/icon180.png" width="167" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="deployment-target" value="7.0" />
        <preference name="AppendUserAgent" value="Summon" />
    </platform>
    <plugin name="cordova-plugin-console" spec="^1.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-battery-status" spec="^1.0.0" />
    <plugin name="cordova-plugin-device-motion" spec="^1.1.0" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="^1.0.0" />
    <plugin name="cordova-plugin-media" spec="^1.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.1.0" />
    <plugin name="cordova-plugin-contacts" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.1.0" />
    <plugin name="cordova-plugin-media-capture" spec="^1.0.0" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.0" />
    <plugin name="cordova-plugin-test-framework" spec="^1.0.0" />
    <plugin name="cordova-plugin-vibration" spec="^1.1.0" />
    <plugin name="cordova-plugin-zip" spec="~3.0.0" />
    <plugin name="cordova-plugin-ble-central" spec="~1.0.1" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="cordova-plugin-camera" spec="^1.1.0" />
    <plugin name="cordova-plugin-zeroconf" spec="~1.1.0" />
    <plugin name="cordova-plugin-bluetoothle" spec="~3.1.0" />
</widget>
