<?xml version='1.0' encoding='utf-8'?>
<allow-navigation href="http://*/*" />
<allow-navigation href="*" />
<widget id="com.lab11.monoxalyze" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>UI Generate</name>
    <description>
    </description>
    <author email="adkinsjd@umich.edu" href="http://joshuaadkins.com">
		Joshua Adkins
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
	<allow-navigation href="http://*/*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
